<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartSpin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SmartSpin.Properties.Settings>
            <setting name="AntiCorruptionTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="JogSpeedSpindle" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CentreDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartsCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileOpenPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="JogSpeed0" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="JogSpeed1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="JogSpeed2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed3" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed4" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed5" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed6" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed7" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed8" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed9" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JogSpeed10" serializeAs="String">
                <value>50</value>
            </setting>
        </SmartSpin.Properties.Settings>
    </userSettings>
</configuration>
